@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .input-common {
    @apply w-full rounded-lg border border-opacityLight-10 bg-opacityLight-5 px-3 py-2 text-neutral-100 outline-none focus:border-opacityLight-30 focus:bg-opacityLight-10;
  }

  .primary-button {
    @apply rounded-lg bg-greenish-600 px-4 py-2 uppercase text-white hover:bg-greenish-500;
  }

  .loading-button {
    @apply cursor-wait bg-greenish-700 text-neutral-300 hover:bg-greenish-700;
  }
}

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.select-component {
  button {
    background-color: rgba(208, 209, 214, 0.05);
    border: 1px solid rgba(208, 209, 214, 0.1);

    &:hover {
      background-color: rgba(208, 209, 214, 0.1);
    }
  }
}
